# AWS
AWS_REGION=us-east-1
AWS_PROFILE=default

# Airflow provider source for local image
AIRFLOW_PROVIDER_REF=0ac475f1d8a50657ed80b4ef495e02ab2add8c01

# ECR
ECR_REGISTRY=123456789012.dkr.ecr.us-east-1.amazonaws.com
ECR_REPOSITORY_NAME=agentic-airflow-agent
ECR_IMAGE_TAG=latest

# AgentCore
AGENTCORE_RUNTIME_NAME=airflow_troubleshooter
AGENT_RUNTIME_ARN=

# IAM
AGENTCORE_EXECUTION_ROLE_ARN=

# Bedrock
BEDROCK_MODEL_ID=anthropic.claude-sonnet-4-5-20250929-v1:0

# Airflow (URL accesible DESDE AgentCore; usar ngrok URL aca)
AIRFLOW_BASE_URL=https://abc123.ngrok-free.app
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin

# GitHub
GITHUB_TOKEN=github_pat_...
GITHUB_REPO=AlejandroMorgante/agentic-airflow-poc
GITHUB_REF=main
GITHUB_DAG_PATH=airflow/dags

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
